.menu {
  @apply grid grid-cols-[auto_1fr] gap-4;
}

.menu-category {
  @apply flex flex-col p-4 gap-1 select-none;
}

.menu-category-item {
  @apply py-2 px-4 rounded-[0.5rem] flex-grow-0 cursor-pointer transition;
}

.menu-category-item:hover {
  @apply bg-[#d9d9d9];
}

.menu-category-item_select {
  @apply bg-[#7fef9e] text-white;
}

.menu-category-item_select:hover {
  @apply bg-[#6dcf7f];
}
