@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("./fonts/Montserrat.ttf") format("truetype");
  font-weight: normal;
}

* {
  @apply m-0 p-0 box-border font-Montserrat;
}

.container {
  @apply max-w-[1200px] my-0 mx-auto w-full;
  @apply min-h-screen grid grid-rows-[auto_1fr_auto];
}

section {
  @apply py-[40px];
}

a {
  text-decoration: none;
  color: currentColor;
}
